In [1]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from math import log, sqrt
import pandas as pd
import numpy as np
import re
%matplotlib inline

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\aryam\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [6]:
tweets = pd.read_csv('sentiment_tweets3.csv')
tweets.head(20)

    Unnamed: 0                                            message  label
0          106  just had a real good moment. i missssssssss hi...      0
1          217         is reading manga  http://plurk.com/p/mzp1e      0
2          220  @comeagainjen http://twitpic.com/2y2lx - http:...      0
3          288  @lapcat Need to send 'em to my accountant tomo...      0
4          540      ADD ME ON MYSPACE!!!  myspace.com/LookThunder      0
5          624              so sleepy. good times tonight though       0
6          701  @SilkCharm re: #nbn as someone already said, d...      0
7          808                 23 or 24ï¿½C possible today. Nice       0
8         1193        nite twitterville  workout in the am  -ciao      0
9         1324    @daNanner Night, darlin'!  Sweet dreams to you       0
10        1332                           Good morning everybody!       0
11        1368  Finally! I just created my WordPress Blog. The...      0
12        1578  kisha they cnt get over u til they get out frm...      0
13        1595  @nicolerichie Yes i remember that band, It was...      0
14        1861             I really love reflections and shadows       0
15        1889  @blueaero ooo it's fantasy?  i like fantasy no...      0
16        1899  @rokchic28 no probs, I sell nothing other than...      0
17        1919  @shipovalov &quot;NOKLA connecting people&quot...      0
18        1992  Once again stayed up to late and have to start...      0
19        2097  @Kal_Penn I just read about your new job, CONG...      0

In [7]:
tweets.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [8]:
tweets.head(20)

                                              message  label
0   just had a real good moment. i missssssssss hi...      0
1          is reading manga  http://plurk.com/p/mzp1e      0
2   @comeagainjen http://twitpic.com/2y2lx - http:...      0
3   @lapcat Need to send 'em to my accountant tomo...      0
4       ADD ME ON MYSPACE!!!  myspace.com/LookThunder      0
5               so sleepy. good times tonight though       0
6   @SilkCharm re: #nbn as someone already said, d...      0
7                  23 or 24ï¿½C possible today. Nice       0
8         nite twitterville  workout in the am  -ciao      0
9     @daNanner Night, darlin'!  Sweet dreams to you       0
10                           Good morning everybody!       0
11  Finally! I just created my WordPress Blog. The...      0
12  kisha they cnt get over u til they get out frm...      0
13  @nicolerichie Yes i remember that band, It was...      0
14             I really love reflections and shadows       0
15  @blueaero ooo it's fantasy?  i like fantasy no...      0
16  @rokchic28 no probs, I sell nothing other than...      0
17  @shipovalov &quot;NOKLA connecting people&quot...      0
18  Once again stayed up to late and have to start...      0
19  @Kal_Penn I just read about your new job, CONG...      0

In [11]:
X = tweets['message']
y = tweets['label']
print(X.head(),y.head())

0    just had a real good moment. i missssssssss hi...
1           is reading manga  http://plurk.com/p/mzp1e
2    @comeagainjen http://twitpic.com/2y2lx - http:...
3    @lapcat Need to send 'em to my accountant tomo...
4        ADD ME ON MYSPACE!!!  myspace.com/LookThunder
Name: message, dtype: object 0    0
1    0
2    0
3    0
4    0
Name: label, dtype: int64

In [15]:
 from sklearn.model_selection import train_test_split
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.02)

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)
X_train_counts.shape

(10107, 22316)

In [22]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
X_train_tfidf.shape

(10107, 22316)

In [23]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(X_train_tfidf, y_train)

In [24]:
from sklearn.pipeline import Pipeline
text_clf = Pipeline([('vect', CountVectorizer()),
                     ('tfidf', TfidfTransformer()),
                     ('clf', MultinomialNB())])

text_clf = text_clf.fit(X_train, y_train)

In [27]:
import numpy as np
predicted = text_clf.predict(X_test)
np.mean(predicted == y_test)

0.9033816425120773

In [38]:
from sklearn.linear_model import SGDClassifier
text_clf_svm = Pipeline([('vect', CountVectorizer()),
                         ('tfidf', TfidfTransformer()),
                         ('clf-svm', SGDClassifier(loss='hinge', penalty='l2', alpha=1e-3, n_iter_no_change=5, random_state=42))])

_ = text_clf_svm.fit(X_train, y_train)
predicted_svm = text_clf_svm.predict(X_test)
np.mean(predicted_svm == y_test)

0.9951690821256038

In [39]:
from sklearn.model_selection import GridSearchCV
parameters = {'vect__ngram_range': [(1, 1), (1, 2)], 'tfidf__use_idf': (True, False), 'clf__alpha': (1e-2, 1e-3)}

In [40]:
gs_clf = GridSearchCV(text_clf, parameters, n_jobs=-1)
gs_clf = gs_clf.fit(X_train, y_train)

In [41]:
gs_clf.best_score_
gs_clf.best_params_

{'clf__alpha': 0.01, 'tfidf__use_idf': False, 'vect__ngram_range': (1, 1)}

In [44]:
from sklearn.model_selection import GridSearchCV
parameters_svm = {'vect__ngram_range': [(1, 1), (1, 2)], 'tfidf__use_idf': (True, False), 'clf-svm__alpha': (1e-2, 1e-3)}
gs_clf_svm = GridSearchCV(text_clf_svm, parameters_svm, n_jobs=-1)
gs_clf_svm = gs_clf_svm.fit(X_train, y_train)
gs_clf_svm.best_score_
gs_clf_svm.best_params_

{'clf-svm__alpha': 0.001, 'tfidf__use_idf': False, 'vect__ngram_range': (1, 2)}

In [45]:
from sklearn.pipeline import Pipeline
text_clf = Pipeline([('vect', CountVectorizer(stop_words='english')), ('tfidf', TfidfTransformer()), ('clf', MultinomialNB())])

In [46]:
import nltk
nltk.download()
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english", ignore_stopwords=True)
class StemmedCountVectorizer(CountVectorizer):
    def build_analyzer(self):
        analyzer = super(StemmedCountVectorizer, self).build_analyzer()
        return lambda doc: ([stemmer.stem(w) for w in analyzer(doc)])

stemmed_count_vect = StemmedCountVectorizer(stop_words='english')

text_mnb_stemmed = Pipeline([('vect', stemmed_count_vect), ('tfidf', TfidfTransformer()), ('mnb', MultinomialNB(fit_prior=False))])

text_mnb_stemmed = text_mnb_stemmed.fit(X_train, y_train)

predicted_mnb_stemmed = text_mnb_stemmed.predict(X_test)

np.mean(predicted_mnb_stemmed == y_test)

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

0.9806763285024155